# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Voter binary
build/voter

# Frontend compiled js files
build/frontend/js/

#CMake files
cmake_build/

# vim swap files
.*.swp

# Mac finder files
.DS_Store
